<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".AbsolutexApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Absolutex.Splash">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:colorMode="wideColorGamut"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density|uiMode"
            android:theme="@style/Theme.Absolutex.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
